# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Dependencies
node_modules/

# Build output
dist/

# Turbo
.turbo/

# macOS
.DS_Store

# Logs
*.log

# Test coverage
coverage/

# Playwright
playwright-report/
test-results/
